body {
  padding-top: 50px;
}

.starter-template {
  max-width: 700px;
  padding: 40px 15px;
  margin: 0 auto;
}

h1, h2, h3, h4, .lead {
  text-align: center;
}

.icons {
  text-align: center;
}

.icons img {
  margin: 1em;
}

.video {
  margin: 1em;
  text-align: center;
}

.images {
  text-align: center;
}

.images img {
  margin: 0.5em;
}

