body {
  padding-top: 50px;
}

/* leave room above anchors for the title bar */
a.anchor {
  position:relative;
  top: -200px;
}

.starter-template {
  padding: 40px 15px;
}

h1, .lead {
  text-align: center;
}

.icons {
  text-align: center;
}

.icons img {
  margin: 1em;
}

.video {
  margin: 1em;
  text-align: center;
}

